process {
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

profiles {
    docker            { process.withName: 'MULTIQC' { container = 'multiqc:4b4f4c914c0e39d4' } }
    docker_arm64      { process.withName: 'MULTIQC' { container = 'multiqc:3ea3e7cfd06863ea' } }
    singularity       { process.withName: 'MULTIQC' { container = 'multiqc:21bd1c393b5aa114' } }
    singularity_arm64 { process.withName: 'MULTIQC' { container = 'multiqc:351bc8ad51a0f772' } }
}
