process {
    withName: 'SEQERA_RUNS_DUMP' {
        ext.args2 = { params.skip_run_gantt ? '' : '--add-task-logs --add-fusion-logs' }
        publishDir = [
            path: { "${params.outdir}/runs_dump" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.json') ? null : filename }
        ]
    }
}