process {
    withName: 'SEQERA_RUNS_DUMP' {
        maxForks = 5
        ext.args = { params.seqera_cli_extra_args ? params.seqera_cli_extra_args.split(/[\s,]+(?=--)/).join(' ') : '' }
        ext.args2 = { params.skip_run_gantt ? '' : '--add-task-logs' }
        containerOptions = { params.java_truststore_path ? "--volume ${params.java_truststore_path}:${params.java_truststore_path}" : '' }
        publishDir = [
            path: { "${params.outdir}/${metaOut?.projectName?.replace("/", "_") ?: ""}/runs_dump" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') || filename.endsWith('.json') ? null : filename }
        ]
    }
}
