/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    seqeralabs/nf-aggregate Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                        = null

    // General pipeline options
    skip_run_gantt               = true

    // Seqera CLI options
    seqera_api_endpoint          = "https://api.cloud.seqera.io"
    seqera_cli_extra_args        = null
    java_truststore_path         = null
    java_truststore_password     = null

    // MultiQC options
    multiqc_config               = null
    multiqc_title                = null
    multiqc_logo                 = null
    skip_multiqc                 = false

    // Benchmark report options
    generate_benchmark_report    = false
    benchmark_aws_cur_report     = null
    remove_failed_tasks          = true

    // Boilerplate options
    outdir                       = 'results'
    publish_dir_mode             = 'copy'
    monochrome_logs              = false
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    modules_testdata_base_path   = 's3://ngi-igenomes/testdata/nf-core/modules/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Schema validation default options
    validate_params            = true
}

process {
    cpus   = 1
    memory = 6.GB
    time   = 4.h

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

}

profiles {
    test {
        params.input = "${projectDir}/workflows/nf_aggregate/assets/test_run_ids.csv"
    }
    test_benchmark {
        params.input                        = "${projectDir}/workflows/nf_aggregate/assets/test_benchmark.csv"
        params.generate_benchmark_report    = true
        params.skip_run_gantt               = true
        params.skip_multiqc                 = true
    }
    test_full {
        params.input = "${projectDir}/workflows/nf_aggregate/assets/test_run_ids.csv"
    }
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
        nextflow.enable.configProcessNamesValidation = true
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.build.repository   = 'quay.io/seqeralabs/nf-aggregate'
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = ['conda', 'container', 'dockerfile', 'spack']
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
        process {
            resourceLimits = [
                memory: 8.GB,
                cpus  : 4,
                time  : 1.h
            ]
        }
    }
}

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
    TOWER_ACCESS_TOKEN = "$TOWER_ACCESS_TOKEN"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'seqeralabs/nf-aggregate'
    author          = 'SciDev Team'
    contributors    = [
        [
            name: 'SciDev Team',
            affiliation: 'Seqera',
            email: '',
            github: '',
            contribution: ['author'],
            orcid: ''
        ],
        [
            name: 'Adam Talbot',
            affiliation: 'Seqera',
            email: 'adam.talbot@seqera.io',
            github: '@adamrtalbot',
            contribution: ['contributor'],
            orcid: ''
        ],
        [
            name: 'Arthur Vigil',
            affiliation: 'Invitae',
            email: '',
            github: '@ahvigil',
            contribution: ['contributor'],
            orcid: ''
        ],
        [
            name: 'Edmund Miller',
            affiliation: 'Seqera',
            email: 'edmund.miller@seqera.io',
            github: '@edmundmiller',
            contribution: ['contributor'],
            orcid: '0000-0002-2398-0334'
        ],
        [
            name: 'Esha Joshi',
            affiliation: 'Seqera',
            email: 'esha.joshi@seqera.io',
            github: '@ejseqera',
            contribution: ['contributor'],
            orcid: ''
        ],
        [
            name: 'Friederike Hanssen',
            affiliation: 'Seqera',
            email: 'friederike.hanssen@seqera.io',
            github: '@FriederikeHanssen',
            contribution: ['contributor'],
            orcid: '0009-0001-9875-5262'
        ],
        [
            name: 'Harshil Patel',
            affiliation: 'Seqera',
            email: 'harshil.patel@seqera.io',
            github: '@drpatelh',
            contribution: ['contributor'],
            orcid: '0000-0003-2707-7940'
        ],
        [
            name: 'Jonathan Manning',
            affiliation: 'Seqera',
            email: 'jonathan.manning@seqera.io',
            github: '@pinin4fjords',
            contribution: ['contributor'],
            orcid: ''
        ],
        [
            name: 'Maxime U Garcia',
            affiliation: 'Seqera',
            email: 'maxime.garcia@seqera.io',
            github: '@maxulysse',
            contribution: ['contributor'],
            orcid: '0000-0003-2827-9261'
        ],
        [
            name: 'Rob Syme',
            affiliation: 'Seqera',
            email: 'rob.syme@seqera.io',
            github: '@robsyme',
            contribution: ['contributor'],
            orcid: '0000-0002-8721-2350'
        ],
    ]
    homePage        = 'https://github.com/seqeralabs/nf-aggregate'
    description     = """Pipeline to aggregate pertinent metrics across pipeline runs on the Seqera Platform."""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=24.04.2'
    version         = '0.7.0'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.2.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
        command = "nextflow run seqeralabs/nf-aggregate -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
    }
}

// Load Nextflow config for nf_aggregate workflow
includeConfig 'workflows/nf_aggregate/nextflow.config'
