process {
    withName: 'AWS_S3_LS' {
        ext.prefix = { "${id.tokenize('_')[-1]}.work_bucket_listing" }
        ext.args = '--summarize --recursive'
        publishDir = [
            path: { "${params.outdir}/storage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}