/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params.modules_testdata_base_path = 's3://ngi-igenomes/testdata/nf-core/modules/'
