process { withName: 'NF_AGGREGATE:SEQERA_RUNS_DUMP' { container = 'public.ecr.aws/seqera-labs/wave/containers:tower-cli-0.9.0--acdf39d9a634af2c' } }
process { withName: 'NF_AGGREGATE:MULTIQC' { container = 'public.ecr.aws/seqera-labs/wave/containers:multiqc--1e9e68bfb966352f' } }
process { withName: 'NF_AGGREGATE:PLOT_RUN_GANTT' { container = 'public.ecr.aws/seqera-labs/wave/containers:click-8.0.1_pandas-1.1.5_plotly_express-0.4.1_typing-3.10.0.0--ce5937852dee34bb' } }
