process { withName: 'NF_AGGREGATE:SEQERA_RUNS_DUMP' { container = 'quay.io/seqeralabs/nf-aggregate:tower-cli-0.9.0--2cb0f2e9d85d026b' } }
process { withName: 'NF_AGGREGATE:MULTIQC' { container = 'quay.io/seqeralabs/nf-aggregate:multiqc--545f544898344f7d' } }
process { withName: 'NF_AGGREGATE:PLOT_RUN_GANTT' { container = 'quay.io/seqeralabs/nf-aggregate:click-8.0.1_pandas-1.1.5_plotly_express-0.4.1_typing-3.10.0.0--342dabfe6548a051' } }
