// nextflow inspect . -concretize -profile test,seqera_containers -format config > config/containers_docker_x86.config
process { withName: 'NF_AGGREGATE:SEQERA_RUNS_DUMP' { container = 'tower-cli:0.9.2--dc544a7e574ab73b' } }
process { withName: 'NF_AGGREGATE:MULTIQC' { container = 'multiqc:4b4f4c914c0e39d4' } }
process { withName: 'NF_AGGREGATE:PLOT_RUN_GANTT' { container = 'click_pandas_plotly_express_typing:21adb9e2d1b605a5' } }
