process {
    withName: 'PLOT_RUN_GANTT' {
        publishDir = [
            path: { "${params.outdir}/${meta.projectName?.replace("/", "_") ?: ""}/gantt" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}

profiles {
    docker            { process.withName: 'PLOT_RUN_GANTT' { container = 'community.wave.seqera.io/library/click_pandas_plotly_express_typing:21adb9e2d1b605a5' } }
    docker_arm64      { process.withName: 'PLOT_RUN_GANTT' { container = 'community.wave.seqera.io/library/click_pandas_plotly_express_typing:2e5e17c7ed2d1115' } }
    singularity       { process.withName: 'PLOT_RUN_GANTT' { container = 'oras://community.wave.seqera.io/library/click_pandas_plotly_express_typing:a4af841350996386' } }
    singularity_arm64 { process.withName: 'PLOT_RUN_GANTT' { container = 'oras://community.wave.seqera.io/library/click_pandas_plotly_express_typing:3fe674b9fa7b15b8' } }
}
